<aside class="agm-sidebar st-scroll" [ngClass]="{'hide': hideSidebar, 'noAnim': firstLoad}">
  <a routerLink="/inicio" class="agm-header animated fadeInRight">
    <div class="agm-logo"><span>A</span></div>

    <h1 class="agm-title">AGM<span>Studio</span></h1>
  </a>

  <nav class="agm-sidebar-section">
    <ul class="agm-menu">
      <li *ngFor="let item of menuItems" routerLinkActive="active" class="menu-item">
        <a [routerLink]="item.route" class="menu-link">
          <i [classList]="item.icon"></i> {{ item.name }}
        </a>
      </li>
    </ul>
  </nav>
</aside>
